.mat-tab-group {
    margin-bottom: 48px;
  
  }
  .mat-tab-labels{
    justify-content: center; /* align items in Main Axis */
}

.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #e4e7ea;
  font-weight: 500;

  
}



