<!-- <form class="example-form"> -->
    <div id="main">
      <div id="firstInput">    
        <mat-form-field class="example-full-width">
            <input [formControl]="searchCompany" type="text" class="right" (keyup)="onKeyUp()" (keydown)="onKeyDown()"  matInput [matAutocomplete]="auto" placeholder="Company"  >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (click)="onCompanyClick(company.id)" *ngFor="let company of companies" [value]="company">
                {{company.companyName | titlecase}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div id="addCompanyBtn" class="button-fill grey" (click)="openDialogWithAdd()">
      <div class="button-text">Add&nbsp;Company</div>
      <div class="button-inside">
        <div class="inside-text">Add&nbsp;Company</div>
      </div>
    </div>
    <div id="add7k" class="button-fill grey" (click)="add7k()">
      <div class="button-text">Add&nbsp;7k&nbsp;Data</div>
      <div class="button-inside">
        <div class="inside-text">Add&nbsp;7k&nbsp;Data</div>
      </div>
    </div>