<form class="example-form">
    <div id="main">
      <div id="firstInput">    
        <mat-form-field class="example-full-width">
            <input [formControl]="searchPrescription" type="text" class="right" (keyup)="onKeyUp()" (keydown)="onKeyDown()"  matInput [matAutocomplete]="auto" placeholder="Prescription"  >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (click)="onPrescriptionClick(prescription.prescriptionSeries)" *ngFor="let prescription of prescriptions" [value]="prescription">
                {{prescription.name | titlecase}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
      </div>

    <div id="addPrescriptionBtn" class="button-fill grey" (click)="openDialogWithAdd()">
      <div class="button-text">Add&nbsp;Prescription</div>
      <div class="button-inside">
        <div class="inside-text">Add&nbsp;Prescription</div>
      </div>
    </div>
    