// Here you can add other styles
.sidebar
{
    background: #3a4149;
}

.sidebar .nav-link
{
    &.active
    {
        background: #343b41;
    }
    &:hover
    {
        color: #fff;
        background: #20a8d8;
    }
}

.breadcrumb-item.active {
    color: white;
}

.app-header .navbar-toggler-icon {
    width: 18px;
}

.navbar-toggler:focus
{
    outline:none;
}