// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    background-color: #ffffff;
    width: 14px;
    border-bottom-right-radius: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3a4149;
    border-right: solid 2.5px #ffffff;
    border-left: solid 2.5px #ffffff;
}

.app-header
{
    z-index: -1 !important;
}

.mat-snack-bar-container
{
  margin-left: 228px !important;
}